/.bundle/
/.yardoc
/.ruby-version
/gems
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/build/

# ignore tar.gz files
.tar.gz

# rspec failure tracking
.rspec_status

# Ignore IDE files
/.idea
