name: Build

on:
  push:
    branches: [ main, develop, ruby3 ]
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request:
    branches: [ main, develop ]

env:
  VERIFY_SSL: true

jobs:
  build:

    name: "${{ matrix.build_name }}"

    # Note: as of 2021-01-29, this only works for push, not for pull request
    # if: "!(contains(github.event.head_commit.message, 'skip') && contains(github.event.head_commit.message, 'ci'))"
    # runs-on: ubuntu-18.04
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.allow_failure }}
    strategy:
      # fail-fast: Default is true, switch to false to allow one platform to fail and still run others
      fail-fast: false
      matrix:
        build_name: [gcc-10]
        include:
        - build_name: gcc-10
          compiler: gcc
          version: 10
          os: ubuntu-24.04
          # dockerImage: conanio/gcc10-ubuntu16.04:latest
          allow_failure: false
        # - build_name: apple-clang-13
        #   compiler: apple-clang
        #   version: 13
        #   os: macos-12
        #   arch: x86_64
        #   SDKROOT: /Applications/Xcode_13.2.1.app
        #   allow_failure: false
        # - build_name: apple-clang-14-armv8
        #   compiler: apple-clang
        #   version: 14
        #   os: macos-14
        #   SDKROOT: /Applications/Xcode_14.3.1.app
        #   allow_failure: false
        # - build_name: msvc-2022
        #   compiler: msvc
        #   version: 194
        #   os: windows-2022
        #   allow_failure: false

    steps:
      # sanity check
      - name: Check OS
        run: |
          echo "OS: ${{ runner.os }}"
          echo "OS Version: ${{ runner.os_version }}"
          echo "OS Architecture: ${{ runner.os_arch }}"
          echo "OS Image: ${{ runner.os_image }}"
          echo "OS Name: ${{ runner.os_name }}"
          echo "OS Label: ${{ runner.os_label }}"
          echo "OS Service Pack: ${{ runner.os_service_pack}}